<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>装甲</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js" ></script>
    <script src="../js/navy/navy.js"></script>
</head>
<body style="background-color: #EE82EE;">
<!--插入模态框-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">添加信息</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form class="form-inline" role="form" id="myFrom">
                    <input type="hidden" id="id" value="">
                    <div class="form-group" id="nations">
                        <label for="sel1">国籍:</label>
                        <select class="form-control opt" id="sel1" name="nationId" style="width: 400px">
                            <option value="" selected="selected">请选择</option>
                        </select>
                    </div>
                    <div class="form-group form-label" style="margin-top: 20px">
                        <label for="job" class=" control-label">职业</label>
                        <div class="col-sm-10">
                            <input type="text" name="job" class="form-control"  id="job" style="width: 300px">
                        </div>
                    </div>
                    <div class="form-group form-label" style="margin-top: 20px">
                        <label for="lv" class=" control-label">等级</label>
                        <div class="col-sm-10">
                            <input type="text" name="lv" class="form-control"  id="lv" style="width: 300px">
                        </div>
                    </div>
                    <div class="form-group form-label" style="margin-top: 20px">
                        <label for="coin" class=" control-label">点数</label>
                        <div class="col-sm-10">
                            <input type="text" name="coin" class="form-control"  id="coin" style="width: 300px">
                        </div>
                    </div>
                    <div class="form-group form-label" style="margin-top: 20px">
                        <label for="latent" class=" control-label">潜在</label>
                        <div class="col-sm-10">
                            <input type="text" name="latent" class="form-control"  id="latent" style="width: 300px">
                        </div>
                    </div>
                    <div class="form-group form-label" style="margin-top: 20px">
                        <label for="hit" class=" control-label">命中</label>
                        <div class="col-sm-10">
                            <input type="text" name="hit" class="form-control"  id="hit" style="width: 300px">
                        </div>
                    </div>
                    <div class="form-group form-label" style="margin-top: 20px">
                        <label for="reload" class=" control-label">装填</label>
                        <div class="col-sm-10">
                            <input type="text" name="reload" class="form-control"  id="reload" style="width: 300px">
                        </div>
                    </div>
                    <div class="form-group form-label" style="margin-top: 20px">
                        <label for="torpedo" class=" control-label">鱼雷</label>
                        <div class="col-sm-10">
                            <input type="text" name="torpedo" class="form-control"  id="torpedo" style="width: 300px">
                        </div>
                    </div>
                    <div class="form-group form-label" style="margin-top: 20px">
                        <label for="AA" class=" control-label">防空</label>
                        <div class="col-sm-10">
                            <input type="text" name="AA" class="form-control"  id="AA" style="width: 300px">
                        </div>
                    </div>
                    <div class="form-group form-label" style="margin-top: 20px">
                        <label for="repair" class=" control-label">修理</label>
                        <div class="col-sm-10">
                            <input type="text" name="repair" class="form-control"  id="repair" style="width: 300px">
                        </div>
                    </div>
                    <div class="form-group form-label" style="margin-top: 20px">
                        <label for="mending" class=" control-label">修补</label>
                        <div class="col-sm-10">
                            <input type="text" name="mending" class="form-control"  id="mending" style="width: 300px">
                        </div>
                    </div>
                    <div class="form-group form-label" style="margin-top: 20px">
                        <label for="machine" class=" control-label">轮机</label>
                        <div class="col-sm-10">
                            <input type="text" name="machine" class="form-control"  id="machine" style="width: 300px">
                        </div>
                    </div>
                    <div class="form-group form-label" style="margin-top: 20px">
                        <label for="scout" class=" control-label">侦查</label>
                        <div class="col-sm-10">
                            <input type="text" name="scout" class="form-control"  id="scout" style="width: 300px">
                        </div>
                    </div>
                    <div class="form-group form-label" style="margin-top: 20px">
                        <label for="plane" class=" control-label">战斗</label>
                        <div class="col-sm-10">
                            <input type="text" name="plane" class="form-control"  id="plane" style="width: 300px">
                        </div>
                    </div>
                    <div class="form-group form-label" style="margin-top: 20px">
                        <label for="bomb" class=" control-label">轰炸</label>
                        <div class="col-sm-10">
                            <input type="text" name="bomb" class="form-control"  id="bomb" style="width: 300px">
                        </div>
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button id="save" type="submit" class="btn btn-secondary" data-dismiss="modal" onclick="enter()">确定</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--顶部-->
<span class="navbar-text" style="text-align:center; display: block; font-size: 55px">
    水兵
</span>
<!--侧边-->
<nav class="navbar bg-light" style="float: left; left: 200px">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/index" style="font-size: 33px" >主页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="adds" href="#" style="font-size: 33px" data-toggle="modal" data-target="#myModal">新增</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="font-size: 33px" onclick="queryNavy()">查找</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="font-size: 33px" onclick="navyDelete()">删除</a>
        </li>
    </ul>
</nav>
<!--搜索-->
<div style="float: left; margin-left: 239px;">
    <div class="input-group">
        <span class="input-group-addon" style="margin-top: 5px">国籍：</span>
        <select class="form-control opt" id="regionId" name="regionId" style="width: 200px">
            <option value="" selected="selected">请选择</option>
        </select>
        <span style="margin-left:150px ;margin-top: 8px">职业:</span>
        <input type="text" name="job"  class="form-control cls" id="queryJob"
               style="width: 200px">
        <span style="margin-left:100px ;margin-top: 8px">等级:</span>
        <input type="text" name="queryLv"  class="form-control cls" id="queryLv"
               style="width: 200px">
    </div>
</div>
<!--列表-->
<div style=" margin-left: 340px;margin-bottom: 1px;margin-right: 30px">
    <table class="table table-bordered">
        <thead style="font-size: 29px">
        <tr style="text-align: center;">
            <th>国籍</th>
            <th>职业</th>
            <th>等级</th>
            <th>点数</th>
            <th>潜在</th>
            <th>命中</th>
            <th>装填</th>
            <th>鱼雷</th>
            <th>防空</th>
            <th>修理</th>
            <th>修补</th>
            <th>轮机</th>
            <th>侦查</th>
            <th>战斗</th>
            <th>轰炸</th>
        </tr>
        </thead>
        <tbody style="font-size: 29px;text-align: center;" id="tb" onclick="NavyQuery()">
        </tbody>
    </table>
    <span id="span" style="text-align: center;display:block">暂无数据</span>
    <div class="container" style="margin-left: 300px">
        <span style="float: left;margin-top: 8px">共</span>
        <span id="spanPage" style="float: left;margin-top: 8px">0</span>
        <span style="float: left;margin-top: 8px;margin-right: 10px">条</span>

        <span style="float: left;margin-top: 8px">共</span>
        <span id="toPage" style="float: left;margin-top: 8px">0</span>
        <span style="float: left;margin-top: 8px;margin-right: 10px">页</span>

        <ul class="pagination" style="">
            <li class="page-item prev"><a class="page-link" href="#">上一页</a></li>
            <li class="page-item size"><a class="page-link" href="#">1</a></li>
            <li class="page-item size"><a class="page-link" href="#">2</a></li>
            <li class="page-item size"><a class="page-link" href="#">3</a></li>
            <li class="page-item next"><a class="page-link" href="#">下一页</a></li>
        </ul>
    </div>
</div>
</body>
</html>